@model List<DECANAT.ModelData.DisciplineStudy>
    @{
        ViewBag.Title = "DisciplineStuding";
    }
    <h3>Факультет: @ViewBag.faculty_name</h3>
    <h4>Специальность: @ViewBag.speciality_name (@ViewBag.speciality_number)</h4>
    <h4>Курс-Группа: @ViewBag.coors-@ViewBag.group_number</h4>
    <h4>Студент: @ViewBag.student_name</h4>
    <body>
        <table id="main-table">
            <thead>
                <tr>
                    <th>Дисциплина</th>
                    <th>Лабораторных</th>
                    <th>Сдано</th>
                    <th>Не сдано</th>
                    <th>Процент</th>
                </tr>
            </thead>
            <tbody>
                @{
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].discipline</td>
                            <td>@Model[i].all_labs</td>
                            <td>@Model[i].complited</td>
                            <td>@Model[i].not_complited</td>
                            <td>@Model[i].procent</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @Html.ActionLink("Назад", "Student", new { speciality_id = ViewBag.speciality_id, subgroup_id = ViewBag.subgroup_id })
        <script type="text/javascript">document.onload = new function () {
            $('#main-table').DataTable(russian_lang);
        };</script>
    </body>
