<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.dataTables.min.js")
    <link href="@Url.Content("~/Content/dropdownMenu.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        window.russian_lang =
            {
                language:
                {
                    "processing": "Подождите...",
                    "search": "Поиск:",
                    "lengthMenu": "Показать _MENU_ записей",
                    "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                    "infoEmpty": "Записи с 0 до 0 из 0 записей",
                    "infoFiltered": "(отфильтровано из _MAX_ записей)",
                    "infoPostFix": "",
                    "loadingRecords": "Загрузка записей...",
                    "zeroRecords": "Записи отсутствуют.",
                    "emptyTable": "В таблице отсутствуют данные",
                    "paginate":
                    {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "aria":
                    {
                        "sortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                }
            }
    </script>
    <link rel="stylesheet" href=@Url.Content("~/Content/jquery.dataTables.min.css")>
    <style>
        footer
        {
            position:fixed;
            top:91%;
            left:87%;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Деканат МИФИ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Преподаватель</a>
                        <ul class="dropdown-menu nav navbar-nav">
                            <li>@Html.ActionLink("Успеваемость", "Index", "Teacher")</li>
                            <li>@Html.ActionLink("Редактирование лабораторных", "LabsList", "Teacher")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Администратор</a>
                        <ul class="dropdown-menu nav navbar-nav">
                            <li>@Html.ActionLink("Факультеты", "Facultes", "Admin")</li>
                            <li>@Html.ActionLink("Преподаватели", "Teachers", "Admin")</li>
                            <li>@Html.ActionLink("Права доступа", "Users", "Admin")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Деканат</a>
                        <ul class="dropdown-menu nav navbar-nav">
                            <li>@Html.ActionLink("Факультеты", "Facultes", "Dekan")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Студент</a>
                        <ul class="dropdown-menu nav navbar-nav">
                            <li>@Html.ActionLink("Поиск", "Index", "Student")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>