@model DECANAT.ModelData.Work
@{
    ViewBag.Title = "DeleteWork";
}
<h3>Удаление нагрузки преподавателя</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.group_id)
    <div class="form-horizontal">
        <h4>Факультет: @Model.faculty_name</h4>
        <h4>Специальность: @Model.speciality_name (@Model.speciality_number)</h4>
        <h4>Курс-группа: @Model.coors-@Model.group_number</h4>
        <h4>Преподаватель: @Model.teacher_name</h4>
        <h4>Дисциплина: @Model.discipline_name</h4>
        @Html.ValidationSummary()
        <div class="form-group">
                <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Works", new { group_id = Model.group_id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


